# Python

**pycache**/
*.py[cod]
*.pyo
*.pyd
.env
venv/
.venv/

# Next.js
.env.local


# Node.js

node_modules/
.next/
out/
dist/
build/

# Logs

*.log

# OS files

.DS_Store
Thumbs.db

# IDE

.vscode/
.idea/

# Testing

coverage/
.pytest_cache/

# Misc

*.sqlite3
*.db
